.pattern-blue {
  background: url(/img/pattern-blue.png) no-repeat right 0px center;
  height: 70px;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.pattern-dark-gray {
  background: url(/img/pattern-dark-gray.png) no-repeat right 0px center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.pattern-light-gray {
  background: url(/img/pattern-light-gray.png) no-repeat right 0px center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.pattern-medium-gray {
  background: url(/img/pattern-medium-gray.png) no-repeat right 0px center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.pattern-workstation {
  background: url(/img/pattern-workstation.png) no-repeat right 0px center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.pattern-server {
  background: url(/img/pattern-server.png) no-repeat right 0px center; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.pattern-atomic {
  background: url(/img/pattern-atomic.png) no-repeat right 0px center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

