

<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<link media="all" rel="stylesheet" href="../../stylesheets/site.css">
	<title>Preview Layout</title>
</head>
<body>
	<div>
		                  <span>
                    
                    <h4>You SHOULD replace pattern placeholder svg file with your content!</h4><br>
                  </span>
          <div class="hidden-xs row">
            <div class="col-sm-4 col-xs-12">
                  <span class="sg-label">
                    <hr>
                    Dark gray - pattern-dark-gray.png<br>

                  </span>
              <div class="h-body thin pattern-dark-gray">
              <img src="/img/pattern-placeholder.svg" />
              </div>
            </div>
            <div class="col-sm-4 col-xs-12
            ">
                  <span class="sg-label">
                    <hr>
                    Light gray - pattern-light-gray.png<br>

                  </span>
              <div class="h-body thin pattern-light-gray">
              <img src="/img/pattern-placeholder.svg" />
              </div>
            </div>
            <div class="col-sm-4 col-xs-12">
                  <span>
                    <hr>
                    Medium gray - pattern-medium-gray.png<br>

                  </span>
              <div class="h-body thin pattern-medium-gray">
              <img src="/img/pattern-placeholder.svg" />
              </div>
            </div>
          </div>
        </div>

        <div class="hidden-xs row">
          <div class="col-sm-4 col-xs-12">
            		<span class="sg-label">
                  <hr>
									Workstation - pattern-workstation.png<br>

								</span>
            <div class="h-body thin pattern-workstation">
              <img src="/img/pattern-placeholder.svg" />
              </div>
          </div>
          <div class="col-sm-4 col-xs-12">
								<span class="sg-label">
                  <hr>
									Server - pattern-server.png<br>

								</span>
            <div class="h-body thin pattern-server">
              <img src="/img/pattern-placeholder.svg" />
              </div>
          </div>
          <div class="col-sm-4 col-xs-12">
								<span>
                  <hr>
									Atomic - pattern-atomic.png<br>

								</span>
            <div class="h-body thin pattern-atomic">
              <img src="/img/pattern-placeholder.svg" />
              </div>
          </div>
        </div>
      </div>

<hr>
	</div>
</body>
</html>
